@import "tailwindcss";

@theme {
  --*: initial;

  --breakpoint-sm: 480px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1536px;

  --spacing-0: 0px;
  --spacing-xxs: 4px;
  --spacing-xs: clamp(12px, 1.6vw, 16px);
  --spacing-s: clamp(16px, 2vw, 20px);
  --spacing-m: clamp(40px, 6vw, 60px);
  --spacing-l: clamp(80px, 16vw, 160px);
  --spacing-full: 100%;

  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-grey: rgb(245, 245, 245);
  --color-darkgrey: rgb(190, 190, 190);
  --color-yellow: rgb(255, 245, 165);
  --color-green: rgb(190, 240, 210);
  --color-blue: rgb(25, 155, 255);
  --color-orange: rgb(255, 105, 5);

  --shadow: 0px 0px var(--spacing-xs) 0px rgba(0, 0, 0, 0.08);
  --shadow-md: 0px 0px var(--spacing-xs) 0px rgba(0, 0, 0, 0.12);

  --default-transition-duration: 200ms;

  --animate-slide-in: slide 200ms;
  --animate-slide-out: slide 200ms reverse;

  @keyframes slide {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@utility custom-underline {
  &:not([data-disabled="true"]) {
    @apply bg-linear-to-r from-black to-black bg-[length:0%_0.1em] bg-bottom bg-no-repeat transition-[background-size] duration-300 hover:bg-[length:100%_0.1em];
  }
}

@utility custom-underline-inverse {
  @apply bg-linear-to-r from-black to-black bg-[length:100%_0.1em] bg-bottom bg-no-repeat transition-[background-size] duration-300 hover:bg-[length:0%_0.1em];
}

.active-link,
[data-selected="true"] {
  &.custom-underline {
    @apply bg-[length:100%_0.1em];
  }
}
.shadow:not(.shadow-none) {
  @apply transition-[background_size,box_shadow] duration-200 hover:shadow-md;
}
