::placeholder {
  opacity: 1;
}

:focus-visible {
  outline: none !important;
}

td,
th {
  padding: 0;
}

input,
textarea {
  background: none;
}

svg {
  fill: currentColor;
}

video[poster] {
  object-fit: cover;
}

[role="button"],
button {
  cursor: pointer;
}
